<div class="modal is-active">
  <div class="modal-background"></div>
  <PhotoCropper 
      field="img"
      langType="en"
      @crop-success="cropSuccess"
      v-model="showCropper"
      :value="showCropper"/>
  <div class="modal-card">
    <section class="modal-card-body">
      <span class="close" v-on:click="close">×</span>
      <h2 class="person">Create a Server</h2>
      <div v-if="!creating">
        <hr class="divider">
        <div class="columns">
          <div class="column" style="max-width: 100px;">
            <CircleIcon :image="photoUrl"/>
          </div>
          <div class="column">
            <p>Give your server a face. Chose a memorable photo to show it's members.</p>
            <button
              class="button is-small is-primary"
              v-on:click="toggleCropper">Set Photo</button>
          </div>
        </div>
        <div style="clear: both;"></div>
        <span class="label">Enter Server Name</span>
        <input class="input" v-model="name" placeholder="Server Name..." />
        <p class="red" v-if="error">{{error}}</p>
        <hr class="divider">
        <button class="button is-primary is-small" v-on:click="confirm" style="float:right;">
          <i class="fas fa-chevron-right"></i> &nbsp; Create Server
        </button>
      </div>
      <div v-else>
        <p>We're setting up your new server, please confirm any transactions.</p>
        <hr class="divider">
        <p>
          <span class="loading" v-if="!confirmation"><i class="fa fa-circle-notch fa-pulse"></i> &nbsp; We're waiting for your server to confirm...</span>
          <span v-else><i class="fa fa-circle-notch"></i> &nbsp; We're waiting for your server to confirm...</span>
          <br>
          <span class="loading" v-if="!confirmation"><i class="fa fa-circle-notch fa-pulse"></i> &nbsp; Writing additional server details...</span>
          <span v-else><i class="fa fa-circle-notch"></i> &nbsp; Writing additional server details...</span>
          <br>
          <span class="loading"><i class="fa fa-circle-notch fa-pulse"></i> &nbsp; Done, cleaning up.</span>
        </p>
      </div>
    </section>
  </div>
</div>