.red {
  color: #ee5253;
}
.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding-top: 5px;
  position: absolute;
  border-top: 1px solid #e7ebee;
  background: #fff;
}
.controls-active {
  color: #00d0a1;
  font-weight: bold;
}
.controls-active:hover {
  color: #00d0a1;
  font-weight: bold;
  font-size: 12pt;
}
.userinfo {
  width: calc(50% - 30px);
  padding-top: 0.3rem;
  height: 100%;
  float: left;
}
.user-status {
  position: absolute;
  top: -3rem;
  width: 100%;
}
.left-side {
  width: calc(100% - 5rem);
  float: left;
  i {
    float: left;
    padding-right: 0.5rem;
  }
  padding: 0.5rem;
  line-height: 110%;
  .label {
    opacity: 0.8;
    padding: 0 !important;
  }
  .yellow {
    cursor: pointer;
  }
}
.right-side {
  width: 5rem;
  float: right;
  padding: 0.9rem 0.8rem 0 0;
}
.usercontrols {
  width: calc(50% - 25px);
  float: left;
  height: 100%;
  text-align: right;
  padding: 1rem 0.75rem 0 0;
}
.user-status .right-side i, .usercontrols i {
  font-size: 16pt;
  padding: 0.1rem 0.4rem;
}
.user-status i:hover, .usercontrols i:hover {
  cursor: pointer;
}
.profile {
  float: left;
  height: 100%;
  width: 55px;
  padding: 0.4rem;
  position: relative;
}
.online {
  position: absolute;
  right: 5px;
  bottom: 2px;
  color: #00d0a1;
}
.true {
  color: #00d0a1;
}
.controls .circle-icon {
  width: 40px;
  height: 40px;
  float: left;
}
.address {
  font-size: 8pt;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #bbb;
}