<section class="section main-section noselect">
  <ServerList />
  <h1 id="logo">Vault74</h1>
  <div class="control user-search">
      <input class="input is-small" type="text" placeholder="Find a vault dweller...">
  </div>
  <div class="usersubcontrols">
    <div 
      v-on:click="setMainRoute('friends')"
      :class="`${$store.state.mainRoute == 'friends' ? 'active' : ''} friends`">
      <i class="fa fa-user-friends"></i>  &nbsp; Friends
    </div>
    <div 
      v-on:click="setMainRoute('files')"
      :class="`${$store.state.mainRoute == 'files' ? 'active' : ''} files`">
      <i class="fa fa-folder"></i> &nbsp; Files
    </div>
  </div>
  <div class="tabs">
      <ul>
          <li 
              :class="`${route === 'chats' ? 'is-active' : ''}`"
              v-on:click="setRoute('chats')"><a>Chats</a></li>
          <li><a>Groups</a></li>
      </ul>
      <i class="fa fa-plus add-friend-chat" v-on:click="toggleQuickFriends"></i>
  </div>
  <QuickFriends v-if="showQuickFriends" :close="toggleQuickFriends"/>
  <div class="usercontainer">
      <div v-if="route === 'chats'">
        <!--
        <UserDemo name="Samantha Version" unread="unread" status="Idly typing away!" online="true" icon="https://randomuser.me/api/portraits/women/56.jpg"/>
        <UserDemo name="Sophie Chain" status="Enjoying Vault74's piece of mind" online="true" icon="https://randomuser.me/api/portraits/women/43.jpg" active="true"/>
        -->
        <User
          v-for="chat in $store.state.activeChats"
          :friend="$store.state.friends.filter(f => f.address === chat)[0]"
          :active="$store.state.activeChat === chat"
          :key="chat"
          :typing="$store.state.typingUsers[chat]"
          :clientId="chat" />
        
        <div v-if="$store.state.activeChats.length < 4">
          <hr class="divider">
          <span class="label" style="text-align: center;">Hey! Add some more friends to chat</span>
          <button
            class="button is-primary is-small" 
            v-on:click="setMainRoute('friends')"
            active="false"
            style="width: 100%;">Add Friends</button>
            <br>
            <br>
        </div>
      </div>
  </div>
  <Controls :toggleSettings="toggleSettings"/>
</section>