<div id="file">
  <a :href="file.url" target="_blank" class="icon">
    <i class="fas fa-file-download nothovered"></i>
    <i :class="`${translateFiletype(file.type)} hovered`"></i>
  </a>
  <div class="fileInfo">
    <div class="filename">{{file.filename}}</div>
    <span class="heading">{{bytesToSize(file.size)}} {{file.type}}</span>
  </div>
  <div class="close" v-on:click="deleteFile">
    <i class="fa fa-times"></i>
  </div>
  <div class="preview">
    <img :src="file.url" alt="" />
  </div>
</div>